Options +FollowSymLinks
RewriteEngine on
RewriteRule ^([^/]*)\.html$ /marketpro/index.php?id=$1 [L]
RewriteRule ^([^/]*)\.html$ /marketpro/nosotros.php?id=$1 [L]
RewriteRule ^([^/]*)\.html$ /marketpro/ofertas.php?id=$1 [L]
RewriteRule ^([^/]*)\.html$ /marketpro/oferta.php?id=$1 [L]
RewriteRule ^([^/]*)\.html$ /marketpro/contacto/index.php?id=$1 [L]
RewriteRule ^([^/]*).html$ /marketpro/oferta.php?id=$1 [L]
